#cennik{
    margin-top: em(55);
    padding: em(22) em(18);
    background-color: lighten($color-primary,5%);

}

.descr{
    margin-top: em(32);
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    padding: em(20);
    border: em(2) solid $color-accent-sec;
    border-radius: em(12);
    h1{
        font-size: em(30);
        padding-bottom: em(15);
    }
}

.cennik_cont{
    padding: em(22) 0 em(42) 0;
    display: grid;
    grid-template-columns: 1fr ;
    flex-direction: row;
    justify-items: center;
    grid-gap: em(15);
    letter-spacing: em(1.5);
    font-style: italic;
    font-weight: 600;
    color: darken($color-secondary , 22%);
    

    

    .grid_item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: em(15) em(12) em(15) em(28);
        margin-top: em(10);
        width:90%;
        height: 100%;
        border: em(2.5) solid darken($color-accent-sec , 10%);
        background-color: lighten($color-accent-sec,25%);
        box-shadow: em(1) em(1) em(1) $color-secondary ;
        border-radius: em(4);


        &:nth-child(2n+0){
            background-color: lighten($color-accent,25%);
            border: em(2.5) solid darken($color-accent , 10%);
        }
    }
        .popis {
            font-weight: 800;
            font-size: em(19);
            color: darken($color-secondary , 28%);
            max-height: 80%;
        }

    .cena{
        color: $color-secondary;
        padding-right: em(18);
        padding-left: em(10);
        font-weight: 700;
        font-size: em(20);
    }


}

.basicinfo{
    font-style: normal;
    font-size: em(22);
    width: 78%;

    strong{
        color: darken($color-primary,38%);
        font-style: italic;
    }
}

