.footer{
    margin-top: em(3);
    padding:em(10);
    display: flex;
    flex-direction: row;
    background-color: $color-secondary;
    justify-content: space-around;
    align-items: center;
    color: darken($color-bg-primary, 8%);
    letter-spacing: em(1.5);
    font-size: em(13);

    .icons{
        text-decoration: none;
        
        i{
            color:($color-bg-primary);
            padding-right: em(15);
            font-size: em(22);
        }
    }
}


.backtotop{
    display: flex;
    position: fixed;
    margin-top: em(12);
    padding: em(12);
    width: 100%;
    justify-content: center;
    top:85%;
    transition-delay: 2s;
    

    .back{
        font-size: em(22);
        background-color: transparentize(white, 0.5);
        padding:em(10);
        border-radius: 50%;
        border: em(1) solid $color-primary;

        i{
        color: $color-secondary;
        }
    }
}

.backtotop2{
    display: flex;
    margin-top: em(12);
    padding: em(12);
    width: 100%;
    justify-content: center;

    .back{
        font-size: em(22);
        background-color: transparentize(white, 0.5);
        padding:em(8);
        border-radius: 50%;
        border: em(1) solid $color-primary;

        i{
        color: $color-secondary;
        }
    }
}