.footer{
    margin-top: em(3);
    padding:em(10);
    display: flex;
    flex-direction: row;
    background-color: $color-secondary;
    justify-content: space-around;
    align-items: center;
    color: darken($color-bg-primary, 8%);
    letter-spacing: em(1.5);
    font-size: em(13);

    .icons{
        text-decoration: none;
        
        i{
            color:($color-bg-primary);
            padding-right: em(15);
            font-size: em(22);
        }
    }
}


.poznamka{
    margin-top: 0;
    padding:em(10);
    display: flex;
    flex-direction: row;
    background-color: $color-secondary;
    justify-content: space-around;
    align-items: center;
    color: darken($color-bg-primary, 8%);
    letter-spacing: em(1.5);
    font-size: em(10);
}
.backtotop{
    display: flex;
    position: fixed;
    margin: em(12) em(32) 0 0;
    padding: em(8);
    width: 100%;
    justify-content: flex-end;
    bottom: em(25);
    right: em(25);
    transition: all 0.5s ease;
    

    .back{
        font-size: em(18);
        background-color: transparentize(lightgray, 0.5);
        padding:em(8);
        border-radius: 50%;
        border: em(1) solid $color-primary;
        transition: all 0.5s ease-in;

        &:hover,
        &:focus{
             background-color: transparentize(white, 0.2);
             padding:em(12);
             
        }
        i{
        color: $color-secondary;
        }
    }
}