html{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    background-color: darken($color-bg-primary,6%);
}

body{
    width:99vw;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:em(12);
    font-size: 100%;

}