html{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    background-color: darken($color-bg-primary,6%);
}

body{
    overflow-x: hidden;
    line-height: 1.4rem;
    max-width:100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:em(12);
    font-size: 100%;

}