

#omne{
    background-color: $color-bg-primary;
    padding: em(22) em(18);
    max-width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;

    .container{
        display: flex;
        width: 90%; 
        max-height:237px;
    }

    p{
        width: 100%;
        letter-spacing: em(1.5);
        font-weight: 700;
        font-style: italic;
        background-color: $color-accent;
        border: em(0.5) solid darken($color-accent, 12%);
        padding:em(26);
        box-shadow: em(2, 20) em(2, 20) em(2, 20) lighten($color-secondary, 25%);
    }

    img{
        width: auto;
        height: em(237);
        
    }
    
}

.flex {
    display: grid;
    grid-template-columns: 1.25fr 0.8fr 1fr;
    align-items: stretch;
    justify-content: space-around;
    max-width: 100%;
    min-height: em(400);
}

.otvaracie_hodiny{
    display: inline-block;
    height: 100%;
    padding: em(10);
    justify-self: center;
    
}

.hodiny{
    min-width: 90%;
    padding:em(20);
    border-collapse: collapse;
    font-size: em(20);
    text-align: center;
    box-shadow: em(2,20) em(2,20) em(2,20) lighten($color-secondary,25%);
    
    td{
        height: em(32, 20);
        padding: em(4,20) em(40,20) em(4,20) em(40,20);
    }
    th{
        padding: em(12, 20) 0;
    }
    
    td, th{
        border: solid em(2 ,20) darken($color-accent ,11%);
        background-color: lighten($color-accent-sec, 12%);

    }
}

h1{
        color: $color-secondary;
        font-size: em(42);
        text-align: center;
        text-shadow: em(2, 42) em(1, 42) 0 $color-accent-sec;
        font-style: italic;
    }


.menu{
    display:none;
    position:fixed;
    right:-20px;
    top:em(62);
    width: 94.8%;
    height: 25px;
    z-index: 85;
    transition: all 0.8s ease-in;
}

.navigation.moving{
    display:inline-block;
}

.menu.active{
    display: inline-block;
    position:fixed;
    width: 94.8%;
    top:em(62);
    transform: translateX(-29px);
}

.navigation.moving {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        & li{
            padding: em(8) 0;
            font-size: em(20);
            line-height: 1.5;
        }
}
