html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: #dee7de;
}

body {
  max-width: 105em;
}

.logo {
  width: 100%;
  height: 18.75em;
  background-color: #9fbebc;
  text-align: center;
  display: inline-block;
  margin: 3.0625em 0 0 0;
  padding-bottom: 0.125em;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(147, 136, 93, 0.97);
  padding: 1.125em 0;
  margin: 0;
  position: fixed;
  width: 98.9%;
  top: 0;
  right: 0.5em;
  left: 0.5em;
  border-bottom: 0.0625em solid #6e6545;
}

.navigation li {
  list-style: none;
  font-size: 1.125em;
  padding-right: 1.375em;
  letter-spacing: 0.15625em;
}

.navigation a {
  text-decoration: none;
  color: #f0f4f0;
}

#omne {
  background-color: #f0f4f0;
  padding: 1.375em 1.125em;
}

#omne .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0.8125em;
  width: 55%;
}

#omne p {
  width: 80%;
  letter-spacing: 0.09375em;
  font-weight: 700;
  font-style: italic;
  background-color: #9b8e92;
  border: 0.03125em solid #7d6f73;
  padding: 1.625em;
  -webkit-box-shadow: 0.4375em 0.4375em 0.3125em #323b4a;
          box-shadow: 0.4375em 0.4375em 0.3125em #323b4a;
}

#omne img {
  width: auto;
  height: 18.75em;
  padding-left: 3.4375em;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

.hodiny {
  width: 100%;
  padding: 0.9375em;
  margin-top: 0.9em;
  margin-left: 4.0625em;
  border-collapse: collapse;
  font-size: 1.25em;
  text-align: center;
  -webkit-box-shadow: 0.35em 0.35em 0.25em #323b4a;
          box-shadow: 0.35em 0.35em 0.25em #323b4a;
}

.hodiny td {
  height: 1.6em;
  padding: 0.25em 2em 0.25em 1.25em;
}

.hodiny th {
  padding: 0.6em 0;
}

.hodiny td, .hodiny th {
  border: solid 0.1em #807176;
  background-color: #aea57f;
}

h1 {
  color: #323b4a;
  font-size: 2.625em;
  text-align: center;
  text-shadow: 0.04762em 0.02381em 0 #93885d;
  font-style: italic;
}

#cennik {
  margin-top: 3.4375em;
  padding: 1.375em 1.125em;
  background-color: #8aafad;
}

.cennik_cont {
  padding: 1.375em 0 2.625em 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  grid-gap: 0.5em;
  letter-spacing: 0.09375em;
  font-style: italic;
  font-weight: 600;
  color: #050607;
}

.cennik_cont .popis {
  font-weight: 700;
  color: black;
}

.cennik_cont .grid_item {
  padding: 0.9375em 0.75em 0.9375em 1.75em;
  margin-top: 0.625em;
  width: 80%;
  border: 0.15625em solid #746b49;
  background-color: #93885d;
  -webkit-box-shadow: 0.4375em 0.4375em 0.75em #323b4a;
          box-shadow: 0.4375em 0.4375em 0.75em #323b4a;
}

.cennik_cont .grid_item:nth-child(2n+0) {
  background-color: #9b8e92;
  border: 0.15625em solid #837378;
}

.cennik_cont .cena {
  color: #323b4a;
  font-weight: 700;
  text-shadow: 0 0 0.25em #f0f4f0, 0 0 0.0625em #323b4a;
}

#ordinacia {
  padding: 1.375em 1.125em;
  margin-top: 1.5625em;
  border: 0.07812em solid #9b8e92;
  background-color: #93885d;
}

#ordinacia h1 {
  color: #f0f4f0;
}

.popis {
  font-size: 1.5625em;
  color: #f0f4f0;
}

#kontakty {
  margin-top: 1.5625em;
  padding: 1.375em 1.125em;
  background-color: #7ba5a2;
}

.kontakty_cont {
  background-color: #7ba5a2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 1.375em 0 2.625em 0;
}

.kontakty_cont .grid_item {
  padding: 0.9375em 0.75em 0.9375em 1.75em;
  margin-top: 0.625em;
  width: 80%;
  border: 0.15625em solid #746b49;
  background-color: #93885d;
  -webkit-box-shadow: 0.4375em 0.4375em 0.75em #323b4a;
          box-shadow: 0.4375em 0.4375em 0.75em #323b4a;
}

.kontakty_cont p {
  margin: 0;
  color: #f0f4f0;
  font-size: 1.1875em;
  font-weight: 500;
  text-shadow: 0.03125em 0 0.625em #323b4a;
}

.footer {
  margin-top: 0.1875em;
  padding: 0.625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #323b4a;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #d8e3d8;
  letter-spacing: 0.09375em;
  font-size: 0.8125em;
}

.footer .icons {
  text-decoration: none;
}

.footer .icons i {
  color: #d8e3d8;
  padding-right: 0.9375em;
  font-size: 1em;
}
/*# sourceMappingURL=style.css.map */