* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: #dee7de;
}

body {
  width: 99vw;
  max-height: 100vh;
}

.logo {
  width: 100%;
  height: 6.375em;
  background-color: #bed2d1;
  text-align: center;
  display: inline-block;
  margin: 0;
  padding-bottom: 0.125em;
}

.wraper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 3fr;
      grid-template-columns: 0.5fr 3fr;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(72, 95, 87, 0.97);
  padding: 1.125em 0;
  margin: 0;
  width: 100%;
  top: 0;
  right: 0.5em;
  left: 0.5em;
  border-bottom: 0.0625em solid #2e3c37;
}

.navigation li {
  list-style: none;
  font-size: 1.125em;
  padding-right: 1.375em;
  letter-spacing: 0.15625em;
}

.navigation a {
  text-decoration: none;
  color: #f0f4f0;
}

.mobile {
  display: none;
}

body {
  padding: 0.75em;
  font-size: 100%;
}

#omne {
  background-color: #f0f4f0;
  padding: 1.375em 1.125em;
  max-width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#omne .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  max-height: 237px;
}

#omne p {
  width: 100%;
  letter-spacing: 0.09375em;
  font-weight: 700;
  font-style: italic;
  background-color: #567c8d;
  border: 0.03125em solid #3f5b67;
  padding: 1.625em;
  -webkit-box-shadow: 0.1em 0.1em 0.1em #436065;
          box-shadow: 0.1em 0.1em 0.1em #436065;
}

#omne img {
  width: auto;
  height: 14.8125em;
}

.flex {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.25fr 0.8fr 1fr;
      grid-template-columns: 1.25fr 0.8fr 1fr;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 100%;
  min-height: 25em;
}

.otvaracie_hodiny {
  display: inline-block;
  height: 100%;
  padding: 0.625em;
  -ms-grid-column-align: center;
      justify-self: center;
}

.hodiny {
  min-width: 90%;
  padding: 1.25em;
  border-collapse: collapse;
  font-size: 1.25em;
  text-align: center;
  -webkit-box-shadow: 0.1em 0.1em 0.1em #436065;
          box-shadow: 0.1em 0.1em 0.1em #436065;
}

.hodiny td {
  height: 1.6em;
  padding: 0.2em 2em 0.2em 2em;
}

.hodiny th {
  padding: 0.6em 0;
}

.hodiny td, .hodiny th {
  border: solid 0.1em #415d6a;
  background-color: #628277;
}

h1 {
  color: #101718;
  font-size: 2.625em;
  text-align: center;
  text-shadow: 0.04762em 0.02381em 0 #485f57;
  font-style: italic;
}

.menu {
  display: none;
  position: fixed;
  right: -20px;
  top: 3.875em;
  width: 94.8%;
  height: 25px;
  z-index: 85;
  -webkit-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}

.navigation.moving {
  display: inline-block;
}

.menu.active {
  display: inline-block;
  position: fixed;
  width: 94.8%;
  top: 3.875em;
  -webkit-transform: translateX(-29px);
          transform: translateX(-29px);
}

.navigation.moving {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.navigation.moving li {
  padding: 0.5em 0;
  font-size: 1.25em;
  line-height: 1.5;
}

#cennik {
  margin-top: 3.4375em;
  padding: 1.375em 1.125em;
  background-color: #8aafad;
}

.descr {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.25em;
  border: 0.125em solid #485f57;
  border-radius: 0.75em;
}

.descr h1 {
  font-size: 1.875em;
  padding-bottom: 0.9375em;
}

.cennik_cont {
  padding: 1.375em 0 2.625em 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-items: center;
  grid-gap: 0.9375em;
  letter-spacing: 0.09375em;
  font-style: italic;
  font-weight: 600;
  color: black;
}

.cennik_cont .grid_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.9375em 0.75em 0.9375em 1.75em;
  margin-top: 0.625em;
  width: 90%;
  height: 100%;
  border: 0.15625em solid #32423c;
  background-color: #84a298;
  -webkit-box-shadow: 0.0625em 0.0625em 0.0625em #101718;
          box-shadow: 0.0625em 0.0625em 0.0625em #101718;
  border-radius: 0.25em;
}

.cennik_cont .grid_item:nth-child(2n+0) {
  background-color: #9eb8c4;
  border: 0.15625em solid #43606d;
}

.cennik_cont .popis {
  font-weight: 800;
  font-size: 1.1875em;
  color: black;
  max-height: 80%;
}

.cennik_cont .cena {
  color: #101718;
  padding-right: 1.125em;
  padding-left: 0.625em;
  font-weight: 700;
  font-size: 1.25em;
}

.basicinfo {
  font-style: normal;
  font-size: 1.375em;
  width: 78%;
}

.basicinfo strong {
  color: #263837;
  font-style: italic;
}

#ordinacia {
  padding: 1.375em 1.125em;
  margin-top: 1.5625em;
  border: 0.07812em solid #567c8d;
  background-color: #485f57;
}

#ordinacia h1 {
  color: #f0f4f0;
}

.popis {
  font-size: 1.5625em;
  color: #f0f4f0;
}

.kontakty {
  margin-top: 1.5625em;
  padding: 1.375em 1.125em;
  background-color: #7ba5a2;
}

.kontakty_cont {
  background-color: #7ba5a2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 1.375em 0 2.625em 0;
  justify-items: center;
}

.kontakty_cont .grid_item {
  padding: 0.9375em 0.75em 0.9375em 1.75em;
  margin-top: 0.625em;
  width: 80%;
  border: 0.15625em solid #32423c;
  background-color: #485f57;
  -webkit-box-shadow: 0.4375em 0.4375em 0.75em #101718;
          box-shadow: 0.4375em 0.4375em 0.75em #101718;
}

.kontakty_cont p {
  margin: 0;
  color: #f0f4f0;
  font-size: 1.1875em;
  font-weight: 500;
  text-shadow: 0.03125em 0 0.625em #101718;
}

.mapa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#map {
  height: 35.0625em;
  width: 35.0625em;
  margin: 2.8125em 2.8125em 4.375em 2.8125em;
}

.footer {
  margin-top: 0.1875em;
  padding: 0.625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #101718;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #d8e3d8;
  letter-spacing: 0.09375em;
  font-size: 0.8125em;
}

.footer .icons {
  text-decoration: none;
}

.footer .icons i {
  color: #f0f4f0;
  padding-right: 0.9375em;
  font-size: 1.375em;
}

.poznamka {
  margin-top: 0;
  padding: 0.625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #101718;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #d8e3d8;
  letter-spacing: 0.09375em;
  font-size: 0.625em;
}

.backtotop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  margin: 0.75em 2em 0 0;
  padding: 0.5em;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  bottom: 1.5625em;
  right: 1.5625em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.backtotop .back {
  font-size: 1.125em;
  background-color: rgba(211, 211, 211, 0.5);
  padding: 0.5em;
  border-radius: 50%;
  border: 0.0625em solid #7ba5a2;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.backtotop .back:hover, .backtotop .back:focus {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.75em;
}

.backtotop .back i {
  color: #101718;
}

@media (max-width: 1300px) {
  .flex {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 0.5fr;
        grid-template-rows: 1fr 0.5fr;
    row-gap: 1.5625em;
    justify-items: center;
  }
  .container {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    width: 80%;
    -webkit-transition: all 0.55s ease-in;
    transition: all 0.55s ease-in;
  }
  .otvaracie_hodiny {
    display: inline-block;
    width: 100%;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-transition: all 0.55s ease-in;
    transition: all 0.55s ease-in;
  }
  #omne img {
    height: 14.25em;
    width: auto;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-transition: all 0.55s ease-in;
    transition: all 0.55s ease-in;
  }
}

@media (max-width: 1048px) {
  .wraper {
    -ms-grid-columns: 0.7fr 3fr;
        grid-template-columns: 0.7fr 3fr;
  }
}

@media (max-width: 825px) {
  * {
    padding: 0;
    margin: 0;
  }
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation {
    width: 100%;
  }
  .otvaracie_hodiny {
    width: 100%;
    display: inline-block;
  }
  .hodiny {
    width: 100%;
  }
  #omne img {
    width: 25em;
    height: auto;
    padding-bottom: 0.75em;
  }
  #omne img.card {
    width: 100%;
  }
  .cennik_cont {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding-left: 1.125em;
  }
  .cennik_cont .grid_item {
    width: 90%;
    height: 100%;
  }
  .cennik_cont .cena {
    font-size: 1.125em;
    padding-left: 0.25em;
  }
  .footer {
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
  }
  * {
    padding: 0.3125em 0;
  }
}

@media (max-width: 650px) {
  .kontakty_cont {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-left: 1.25em;
  }
  #omne.card {
    width: 95%;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .icons {
    padding: 1.25em 0;
  }
  #cennik {
    width: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cennik_cont {
    width: 100%;
  }
  .cennik_cont .descr {
    width: 98%;
  }
  .cennik_cont .grid_item {
    width: 95%;
    font-size: 0.9375em;
  }
  .cennik_cont .cena {
    font-size: 1.125em;
    padding-left: 0.25em;
  }
  .poznamka {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .poznamka p {
    width: 60%;
  }
}

@media (max-width: 600px) {
  #omne.card {
    width: 95%;
  }
  #omne .container {
    width: 100%;
  }
  #omne .otvaracie_hodiny {
    width: 88%;
    font-size: 0.8125em;
  }
  #omne .grid_item {
    height: 120%;
    padding-top: 0.125em;
  }
  #omne .cennik_cont .popis {
    height: 100%;
    width: 80%;
    font-size: 0.75em;
  }
}

@media (max-width: 570px) {
  .hodiny {
    width: 100%;
    font-size: 1em;
  }
  .navigation {
    display: none;
  }
  .logo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -webkit-transform: translateY(2.5em);
            transform: translateY(2.5em);
  }
  .cennik_cont {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cennik_cont .popis {
    font-size: 1em;
  }
  .back #back {
    display: none;
  }
  #newclass {
    display: none;
  }
  .wraper {
    width: 100%;
  }
  .container_mobile {
    border: 1px solid #567c8d;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 94.8%;
    position: fixed;
    background-color: rgba(72, 95, 87, 0.5);
    z-index: 85;
    top: 0;
  }
  .mobile {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100%;
    padding: 0.75em 0;
  }
  .mobile:focus, .mobile:hover {
    cursor: pointer;
  }
  .mobile .bar {
    width: 2.0625em;
    height: 0.25em;
    margin: 0.25em 1.375em 0.1375em 0;
    z-index: 85;
    background-color: #121a1e;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .mobile.active {
    padding: 18px 0;
  }
  @-webkit-keyframes op {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes op {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
    }
  }
  .mobile.active .bar2 {
    opacity: 0;
    -webkit-animation-name: op;
            animation-name: op;
    -webkit-animation-duration: 0.25s;
            animation-duration: 0.25s;
  }
  .mobile.active .bar1 {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
    position: relative;
    top: 0em;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .mobile.active .bar3 {
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
    position: relative;
    bottom: 1.25em;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  #omne {
    width: 100%;
  }
  #omne .flex {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  #omne .flex .otvaracie_hodiny {
    width: 100%;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #omne .flex .hodiny {
    width: 100%;
  }
  #omne img {
    width: 50%;
    height: auto;
  }
  #omne .card {
    line-height: 1.2;
    font-size: 1em;
  }
  #omne .container {
    width: 82%;
  }
}

@media (max-width: 320px) {
  .hodiny {
    width: 80%;
    margin: 0 1.0625em 0 0;
  }
  .cennik_cont {
    padding: 0.3125em 0;
  }
  .cennik_cont p {
    padding-right: 1.375em;
  }
  .kontakty_cont {
    margin: 0;
    padding: 0.3125em 0;
  }
  .kontakty_cont p {
    font-size: 0.875em;
  }
}
/*# sourceMappingURL=style.css.map */