* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: #dee7de;
}

body {
  max-width: 105em;
}

@font-face {
  font-family: Scriptina;
  src: url(/fonts/SCRIPTIN.ttf);
}

.logo {
  width: 100%;
  height: 18.75em;
  background-color: #9fbebc;
  text-align: center;
  display: inline-block;
  margin: 0;
  padding-bottom: 0.125em;
  font-family: Scriptina ,Georgia, 'Times New Roman', Times, sans-serif;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(72, 95, 87, 0.97);
  padding: 1.125em 0;
  margin: 0;
  width: 100%;
  top: 0;
  right: 0.5em;
  left: 0.5em;
  border-bottom: 0.0625em solid #2e3c37;
}

.navigation li {
  list-style: none;
  font-size: 1.125em;
  padding-right: 1.375em;
  letter-spacing: 0.15625em;
}

.navigation a {
  text-decoration: none;
  color: #f0f4f0;
}

.mobile {
  display: none;
}

body {
  padding: 0.75em;
}

#omne {
  background-color: #f0f4f0;
  padding: 1.375em 1.125em;
}

#omne .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0.8125em;
  width: 55%;
}

#omne p {
  width: 80%;
  letter-spacing: 0.09375em;
  font-weight: 700;
  font-style: italic;
  background-color: #567c8d;
  border: 0.03125em solid #3f5b67;
  padding: 1.625em;
  -webkit-box-shadow: 0.4375em 0.4375em 0.3125em #101718;
          box-shadow: 0.4375em 0.4375em 0.3125em #101718;
}

#omne img {
  width: auto;
  height: 18.75em;
  padding-left: 3.4375em;
}

#omne .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

.hodiny {
  width: 80%;
  padding: 0.9375em;
  margin-top: 0.9em;
  margin-left: 4.0625em;
  border-collapse: collapse;
  font-size: 1.25em;
  text-align: center;
  -webkit-box-shadow: 0.35em 0.35em 0.25em #101718;
          box-shadow: 0.35em 0.35em 0.25em #101718;
}

.hodiny td {
  height: 1.6em;
  padding: 0.25em 2em 0.25em 1.25em;
}

.hodiny th {
  padding: 0.6em 0;
}

.hodiny td, .hodiny th {
  border: solid 0.1em #415d6a;
  background-color: #628277;
}

h1 {
  color: #101718;
  font-size: 2.625em;
  text-align: center;
  text-shadow: 0.04762em 0.02381em 0 #485f57;
  font-style: italic;
}

.menu {
  display: none;
  position: fixed;
  right: -20px;
  top: 3.875em;
  width: 94.8%;
  height: 25px;
  z-index: 85;
  -webkit-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}

.navigation.moving {
  display: inline-block;
}

.menu.active {
  display: inline-block;
  position: fixed;
  width: 94.8%;
  top: 3.875em;
  -webkit-transform: translateX(-29px);
          transform: translateX(-29px);
}

.navigation.moving {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.navigation.moving li {
  padding: 0.5em 0;
  font-size: 1.25em;
  line-height: 1.5;
}

#cennik {
  margin-top: 3.4375em;
  padding: 1.375em 1.125em;
  background-color: #8aafad;
}

.cennik_cont {
  padding: 1.375em 0 2.625em 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  grid-gap: 0.5em;
  letter-spacing: 0.09375em;
  font-style: italic;
  font-weight: 600;
  color: black;
}

.cennik_cont .popis {
  font-weight: 700;
  color: black;
}

.cennik_cont .grid_item {
  padding: 0.9375em 0.75em 0.9375em 1.75em;
  margin-top: 0.625em;
  width: 80%;
  border: 0.15625em solid #32423c;
  background-color: #5a766c;
  -webkit-box-shadow: 0.0625em 0.0625em 0.3125em #101718;
          box-shadow: 0.0625em 0.0625em 0.3125em #101718;
}

.cennik_cont .grid_item:nth-child(2n+0) {
  background-color: #6991a3;
  border: 0.15625em solid #43606d;
}

.cennik_cont .cena {
  color: #101718;
  font-weight: 700;
  text-shadow: 0 0 0.25em #f0f4f0, 0 0 0.0625em #101718;
}

#ordinacia {
  padding: 1.375em 1.125em;
  margin-top: 1.5625em;
  border: 0.07812em solid #567c8d;
  background-color: #485f57;
}

#ordinacia h1 {
  color: #f0f4f0;
}

.popis {
  font-size: 1.5625em;
  color: #f0f4f0;
}

.kontakty {
  margin-top: 1.5625em;
  padding: 1.375em 1.125em;
  background-color: #7ba5a2;
}

.kontakty_cont {
  background-color: #7ba5a2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 1.375em 0 2.625em 0;
}

.kontakty_cont .grid_item {
  padding: 0.9375em 0.75em 0.9375em 1.75em;
  margin-top: 0.625em;
  width: 80%;
  border: 0.15625em solid #32423c;
  background-color: #485f57;
  -webkit-box-shadow: 0.4375em 0.4375em 0.75em #101718;
          box-shadow: 0.4375em 0.4375em 0.75em #101718;
}

.kontakty_cont p {
  margin: 0;
  color: #f0f4f0;
  font-size: 1.1875em;
  font-weight: 500;
  text-shadow: 0.03125em 0 0.625em #101718;
}

.mapa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#map {
  height: 35.0625em;
  width: 35.0625em;
  margin: 2.8125em 2.8125em 4.375em 2.8125em;
}

.footer {
  margin-top: 0.1875em;
  padding: 0.625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #101718;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #d8e3d8;
  letter-spacing: 0.09375em;
  font-size: 0.8125em;
}

.footer .icons {
  text-decoration: none;
}

.footer .icons i {
  color: #f0f4f0;
  padding-right: 0.9375em;
  font-size: 1.375em;
}

.backtotop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  margin-top: 0.75em;
  padding: 0.75em;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 1.5625em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.backtotop .back {
  font-size: 1.375em;
  background-color: rgba(211, 211, 211, 0.5);
  padding: 0.625em;
  border-radius: 50%;
  border: 0.0625em solid #7ba5a2;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.backtotop .back:hover, .backtotop .back:focus {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.75em;
}

.backtotop .back i {
  color: #101718;
}

@media (max-width: 1155px) {
  .hodiny {
    width: 88%;
  }
  #omne img {
    height: 15.625em;
    width: auto;
  }
}

@media (max-width: 1000px) {
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #omne img {
    height: 12.4375em;
    width: auto;
    margin-top: 2.1875em;
  }
  .otvaracie_hodiny {
    width: 100%;
  }
}

@media (max-width: 780px) {
  .navigation {
    width: 100%;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hodiny {
    width: 78%;
  }
  #omne img {
    width: 11.25em;
    height: auto;
    padding-bottom: 0.75em;
  }
  #omne img.card {
    width: 100%;
  }
  .cennik_cont {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding-left: 1.125em;
  }
  .cennik_cont .grid_item {
    width: 80%;
    padding: 0.9375em 0.75em 0.9375em 0.75em;
  }
}

@media (max-width: 650px) {
  #omne.card {
    width: 95%;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .icons {
    padding: 1.25em 0;
  }
}

@media (max-width: 600px) {
  .kontakty_cont {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-left: 1.25em;
  }
  #omne.card {
    width: 95%;
  }
  #omne .container {
    width: 100%;
  }
  #omne .otvaracie_hodiny {
    width: 88%;
    font-size: 0.8125em;
  }
  #omne .hodiny {
    margin: 1.375em 0em 0.75em 3.125em;
  }
}

@media (max-width: 470px) {
  .wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .logo {
    height: 12.5em;
    margin-top: 4.5em;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
  }
  .hodiny {
    margin-left: 2.6875em;
    width: 80%;
    font-size: 1em;
  }
  .cennik_cont {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding-left: 2em;
  }
  .cennik_cont .popis {
    font-size: 1em;
  }
  #back {
    display: none;
  }
  #newclass {
    display: none;
  }
  img.logo {
    margin-top: 3.75em;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
  }
  .container_mobile {
    border: 1px solid #567c8d;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 94.8%;
    position: fixed;
    background-color: rgba(72, 95, 87, 0.5);
    z-index: 85;
  }
  .mobile {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100%;
    padding: 0.75em 0;
  }
  .mobile:focus, .mobile:hover {
    cursor: pointer;
  }
  .mobile .bar {
    width: 2.0625em;
    height: 0.25em;
    margin: 0.25em 1.375em 0.1375em 0;
    z-index: 85;
    background-color: #121a1e;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .mobile.active {
    padding: 18px 0;
  }
  @-webkit-keyframes op {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes op {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
    }
  }
  .mobile.active .bar2 {
    opacity: 0;
    -webkit-animation-name: op;
            animation-name: op;
    -webkit-animation-duration: 0.25s;
            animation-duration: 0.25s;
  }
  .mobile.active .bar1 {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
    position: relative;
    top: 0em;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .mobile.active .bar3 {
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
    position: relative;
    bottom: 1.25em;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  #omne .flex {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #omne img {
    width: 7.5em;
    height: auto;
  }
  #omne .card {
    line-height: 1.2;
    font-size: 1em;
  }
  #omne .container {
    width: 82%;
  }
}

@media (max-width: 320px) {
  .hodiny {
    width: 80%;
    margin: 0 1.0625em 0 0;
  }
  .cennik_cont {
    padding: 0.3125em 0;
  }
  .cennik_cont p {
    padding-right: 1.375em;
  }
  .kontakty_cont {
    margin: 0;
    padding: 0.3125em 0;
  }
  .kontakty_cont p {
    font-size: 0.875em;
  }
}
/*# sourceMappingURL=style.css.map */